@model Contactform
@inject IConfiguration configuration
@{
    ViewData["Title"] = "Contactpagina";
    var siteKey = configuration["ReCaptchaSettings:SiteKey"];
}
<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
    function onSubmit(token) {
        document.querySelector(".form-contactpagina").submit();
    }
</script>

<section class="contact">
    <h1>Contact met Erik Leusink</h1>
    <p>Bent u geinterreseerd in een samenwerking? Stuur via onderstaand formulier een contact verzoek!</p>
    <span>@ViewBag.Message</span>
    <span id="flash-message" class="hidden"></span>
    <form method="post" class="form-contactpagina">
        <div class="form-contactpagina__inputelement fx-col">
            <label for="firstname">Voornaam: </label>
            <input type="text" asp-for="FirstName" name="firstname" id="firstname" required>
        </div>

        <div class="form-contactpagina__inputelement fx-col">
            <label for="lastname">Achternaam: </label>
            <input type="text" asp-for="LastName" name="lastname" id="lastname" required>
        </div>

        <div class="form-contactpagina__inputelement fx-col">
            <label for="email">E-mailadres: </label>
            <input type="email" asp-for="Email" name="email" id="email" required>
        </div>

        <div class="form-contactpagina__inputelement fx-col">
            <label for="phone">Telefoonnummer: </label>
            <input type="tel" asp-for="Phone" name="phone" id="phone" required>
        </div>
        
        <div class="form-contactpagina__inputelement fx-col">
            <label for="subject">Onderwerp:</label>
            <input type="text" asp-for="Subject" name="subject" id="subject" required />
        </div>

        <div class="form-contactpagina__inputelement fx-col">
            <label for="message">Bericht:</label>
            <textarea type="text" asp-for="Message" name="message" id="message" required ></textarea>
        </div>

        <div class="form-contactpagina__inputelement">
            <button class="g-recaptcha" data-sitekey="@siteKey" data-callback='onSubmit' data-action='submit' type="submit" id="submit-button">
                Verstuur!
            </button>
            <div id="loading"></div>
        </div>
    </form>
</section>

<script src="~/js/contact.js"></script>
