@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    th,td{
        padding-left:5px;
        padding-right:5px;
    }
</style>
<h1>@ViewData["Title"]</h1>

<p>
    Op deze website worden persoongegevens verwerkt.
    Wij willen u zo goed mogelijk informeren waarom wij deze gegevens verwerken en hoelang wij deze bewaren.
</p>

<h2>Persoongegevens die verwerkt worden</h2>
<table>
    <tr>
        <th>Persoongegeven</th>
        <th>Reden van verwerking</th>
        <th>Bewaartermijn</th>
        <th>Externe verwerkers</th>
    </tr>
    <tr>
        <td>Voornaam en achternaam</td>
        <td>Het voorstellen via het contact formulier</td>
        <td>Maximaal 30 dagen.</td>
        <td>MailTrap.io</td>
    </tr>
    <tr>
        <td>Telefoonnummer</td>
        <td>Het kunnen na verzenden van het contact formulier</td>
        <td>Maximaal 30 dagen.</td>
        <td>MailTrap.io</td>
    </tr>
</table>

<h3>
    Informatie verwerkingsverantwoordelijke
</h3>
<p>Mocht u vragen hebben over de verwerking van uw persoonsgegevens kunt u contact opnemen via hieronder staande gegevens.</p>
<ul>
    <li>Erik Leusink</li>
    <li>s1157193@student.windesheim.nl</li>
</ul>
    