@{
    ViewData["Title"] = "Home Page";
}

<div class="page content-gdpr-accept hide">
    <section class="personalia" style="padding:0.75rem;">
        <img class="person-logo" src="images/ErikL.jpg">
        <h1 class="person-name">Erik Leusink</h1>
        <h2>Over mijzelf</h2>
        <h3>Test voor acceptatie</h3>
        <p class="personalia-content__description">
            Enthousiaste afgestudeerde Media- en Applicatie ontwikkelaar en 24 jaar oud. Op dit moment studeer ik aan het Windesheim College te Zwolle, hier volg ik de opleiding HBO ICT, met als afstudeer richting Software Engineering.
        <p>
            <h4>Lellie zorggroep</h4>
        <p>
            Buiten mijn studie om ben ik werkzaam bij stichting Lellie zorggroep. Daar houd ik me bezig met ICT ondersteuning van de (zorg)medewerkers. Het is een baan waarin een maatschappelijk doel centraal staat en veel sociaal contact in terug komt.
        </p>
        <h4>Leusink Webontwikkeling</h4>
        <p>
            Na mijn opleiding Media- en Applicatie ontwikkeling ben ik aan de slag gegaan als zzp'er in het maken van websites. Ik leer hier veel zoals met klanten in gesprek te zijn en hun wensen project matig te realiseren.
        </p>
    </section>

    <section class="profile">
        <section class="profile-content">
            <div class="profile-content__category">
                <h3 class="profile-content__category-title">Opleidingen</h3>
                <hr>
            </div>
            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Software Engineering - HBO ICT</h4>
                    <p class="profile-content__period">2020 - 2025</p>
                </div>
                <p class="profile-content__institute">Windesheim College, Zwolle</p>
            </div>
            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Media- en Applicatieontwikkeling</h4>
                    <p class="profile-content__period">2017 - 2020</p>
                </div>
                <p class="profile-content__institute">Hoornbeeck College, Amersfoort</p>
            </div>
        </section>
    
        <section class="skills-content">
            <div class="skills-content__category">
                <h3 class="skills-content__category-title">Tech Skills</h3>
                <hr>
            </div>
            <div class="skills-content__element">
                <ul class="skills-content__element-list">
                    <li class="skills-content__element-list-item">HTML</li>
                    <li class="skills-content__element-list-item">CSS</li>
                    <li class="skills-content__element-list-item">Javascript</li>
                    <li class="skills-content__element-list-item">PHP</li>
                    <li class="skills-content__element-list-item">.NET C#</li>
                    <li class="skills-content__element-list-item">Laravel</li>
                    <li class="skills-content__element-list-item">Scrum</li>
                </ul>

            </div>
        </section>
    </section>
</div>

@await Html.PartialAsync("Gdpr")